<div class="col-sm-4" height="560">
    <div class="card mb-4" style="width: 18rem; height:500px;">
        <img  @onclick="@(() => Maximize())" class="card-img-top" src="@Product.ImageSource" alt="imagen" height="250">
        <div class="card-body">
            <h4 class="card-title">@Product.Name</h4>
            <h6 class="card-text">@Product.Description</h6>
            <h5 class="card-text">$U @Product.Price</h5>
            <a  @onclick="() =>Edit()" class="btn btn-warning">Editar</a>
            <a  @onclick="() =>Delete()" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>
